body {
    max-width: 960px;
    margin: 0 auto;
}
#layout {
    border: 2px solid gray;
    margin: 0 auto;
}
.profileImage {
    height: 200px;
    width: 200px;
}
.introduce {
    height: 400px;
}
.video {
    height: 360px;
}
.contact {
    height: 140px;
}
.tel,.mail,.address{
    max-width: 720px;
}
.qrLayout {
    justify-content: center;
    margin: 0 auto;
    background-color: gray;
    color: white;
    height: 256px;
    width: 256px;
    margin-bottom: 10px;
}